<address class="footer-address">
  <div class="footer-address-wrapper">
    <p class="footer-caption">Phone number:</p>
    <a class="footer-address-link" href="tel:+380684439426">
      +380 (68) 443-94-26
    </a>
  </div>
  <div class="footer-address-wrapper">
    <p class="footer-caption">Address:</p>
    <a
      class="footer-address-link"
      href="https://maps.app.goo.gl/BtYUAymHsrAuptrH8"
      target="_blank"
      rel="noopener norefferer"
    >
      32a M. Bazhana ave
    </a>
  </div>
</address>
