<section class="about-section" id="about-us">
  <div class="container">
    <h2 class="section-title">
      About <span class="section-title-underline">Us</span>
    </h2>
    <p class="supporting-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-cards-box" data-animation>
      <ol class="about-cards-ordered">
        <li class="about-card fade-in-animation" id="about-card-01">
          <p class="about-card-order-number">01</p>
          <p class="about-card-text-content">
            Expert, innovative teaching staff
          </p>
        </li>
        <li class="about-card fade-in-animation" id="about-card-02">
          <p class="about-card-order-number">02</p>
          <p class="about-card-text-content">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about-card fade-in-animation" id="about-card-03">
          <p class="about-card-order-number">03</p>
          <p class="about-card-text-content">
            Multicultural learning environment
          </p>
        </li>
        <li class="about-card fade-in-animation" id="about-card-04">
          <p class="about-card-order-number">04</p>
          <p class="about-card-text-content">
            Comprehensive language support services
          </p>
        </li>
      </ol>
      <div class="about-card-emoji fade-in-animation" id="about-card-emoji">
        <picture>
          <source
            srcset="images/memoji.png 1x, images/memoji@2x.png 2x"
            type="image/png">
          <img
            class="about-card-emoji-image"
            src="images/memoji.png"
            srcset="images/memoji.png 1x, images/memoji@2x.png 2x"
            alt="Memoji"
            width="254"
            height="211"
            loading="lazy">
        </picture>
      </div>
    </div>
  </div>
</section>
