<section class="deal-section">
  <div class="container">
    <div class="deal-section-content">
      <h2 class="deal-section-title">
        Master the
        <span class="deal-section-title-highlighted">Language</span> with Our
        English Package!
      </h2>
      <div class="deal-offer-container">
        <div class="deal-offer-text-wrapper">
          <h3 class="header-small deal-offer-header-small">Power of English</h3>
          <ul class="deal-offer-list">
            <li class="deal-offer-list-item">
              <div class="deal-offer-list-item-img-container">
                <svg class="check_mark_icon">
                  <use href="/images/icons.svg#icon-check"></use>
                </svg>
              </div>
              <span
                >Dive into captivating lessons designed to stimulate your
                curiosity.</span
              >
            </li>
            <li class="deal-offer-list-item">
              <div class="deal-offer-list-item-img-container">
                <svg class="check_mark_icon">
                  <use href="/images/icons.svg#icon-check"></use>
                </svg>
              </div>
              <span
                >Learn in a nurturing setting where every student's progress
                matters.</span
              >
            </li>
            <li class="deal-offer-list-item">
              <div>
                <svg class="check_mark_icon">
                  <use href="/images/icons.svg#icon-check"></use>
                </svg>
              </div>
              <span
                >Experience the satisfaction of real progress as your language
                skills and confidence grow with every session.</span
              >
            </li>
          </ul>
          <button type="button" class="hero-button" id="scrollDownToForm-deal">
            Leave an application
          </button>
          <div class="deal-offer-rotated"></div>
        </div>
      </div>
    </div>
  </div>
</section>
