<section class="deal-section">
  <div class="container">
    <div class="deal-section-content">
      <h2 class="deal-section-title">
        Master the
        <span class="deal-section-title-highlighted">Language</span> with Our
        English Package!
      </h2>
      <div class="deal-offer-container" data-animation="deal">
        <h3 class="deal-offer-subtitle">Power of English</h3>
        <ul class="deal-offer-list">
          <li class="deal-offer-item" style="--shift: 1">
            <svg class="deal-offer-icon" width="20" height="20">
              <use class="splash" href="./images/icons.svg#deal-splash"></use>
              <use
                class="circle"
                href="./images/icons.svg#deal-icon-circle"
              ></use>
              <use class="check" href="./images/icons.svg#deal-icon"></use>
            </svg>
            <p>
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="deal-offer-item" style="--shift: 2">
            <svg class="deal-offer-icon" width="20" height="20">
              <use class="splash" href="./images/icons.svg#deal-splash"></use>
              <use
                class="circle"
                href="./images/icons.svg#deal-icon-circle"
              ></use>
              <use class="check" href="./images/icons.svg#deal-icon"></use>
            </svg>
            <p>
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="deal-offer-item" style="--shift: 3">
            <svg class="deal-offer-icon" width="20" height="20">
              <use class="splash" href="./images/icons.svg#deal-splash"></use>
              <use
                class="circle"
                href="./images/icons.svg#deal-icon-circle"
              ></use>
              <use class="check" href="./images/icons.svg#deal-icon"></use>
            </svg>
            <p>
              Experience the satisfaction of real progress as your language
              skills and confidence grow&nbsp;with every session.
            </p>
          </li>
        </ul>
        <a href="#register-form" class="deal-section-button">
          Leave an application
        </a>
      </div>
    </div>
  </div>
</section>
