<header class="header">
  <div class="container header-container">
    <load src="./logo.html" modifier="header-logo" />
    <nav class="header-nav">
      <load src="./menu.html" modifier="header-menu" />
    </nav>
    <load src="./socials.html" modifier="header-socials" />
    <button type="button" class="mobile-menu-button js-open-menu" aria-label="Open menu">
      <svg class="hamburger-icon">
        <use href="./images/icons.svg#hamburger"></use>
      </svg>
    </button>
    <div class="mobile-menu-wrapper js-menu-container">
      <div class="mobile-menu-popup">
        <button type="button" class="mobile-menu-close-button js-close-menu" aria-label="Close menu">
          <svg class="close-icon">
            <use href="./images/icons.svg#close"></use>
          </svg>
        </button>
        <load src="./menu.html" modifier="mobile-menu" />
        <load src="./socials.html" modifier="mobile-menu-socials" />
      </div>
    </div>
  </div>
</header>