<!-- region hero -->
<section class="section-hero">
    <h1 class="hero-title">Discover the joy of learning <span class="accent">English</span> with us!</h1>
    <button type="button" class="hero-button" id="scrollDownToForm">Leave an application</button>
    <button type="button" class="hero-button-scroll" id="scrollDownToFooter">
      <svg width="12" height="6" class="hero-button-scroll-icon">
          <use xlink:href="/images/icons.svg#arrow_down" />
      </svg>
  </button>
</section>
<!-- endregion hero -->