<section class="lessons-section" id="our-lessons">
  <div class="container">
    <h2 class="section-title">
      Our <span class="section-title-underline">lessons</span>
    </h2>
    <p class="supporting-text">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
    <ul class="lessons-main" data-animation-lessons>
      <li class="lessons-item fade-in-animation" id="lesson-card-01">
        <h3 class="lessons-item-title header-small">Practice</h3>
        <p class="lessons-item-price">40$ / month</p>
        <p class="text-body-small lessons-item-description">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a href="#register-form" class="lessons-item-link">
          Leave an application
        </a>
      </li>
      <li class="lessons-item fade-in-animation" id="lesson-card-02">
        <h3 class="lessons-item-title header-small">Standard</h3>
        <p class="lessons-item-price">70$ / month</p>
        <p class="text-body-small lessons-item-description">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a href="#register-form" class="lessons-item-link">
          Leave an application
        </a>
      </li>
      <li class="lessons-item fade-in-animation" id="lesson-card-03">
        <h3 class="lessons-item-title header-small">Individual</h3>
        <p class="lessons-item-price">99$ / month</p>
        <p class="text-body-small lessons-item-description">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a href="#register-form" class="lessons-item-link">
          Leave an application
        </a>
      </li>
    </ul>
  </div>
</section>
