<section class="application">
  <h2>Leave an <span class="under">application</span></h2>
  <p>Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
  <div class="application__body">
    <div class="application__ad">
      <div class="application-ad__img"></div>
      <div class="application-add__background"></div>
      span.
      <p></p>
    </div>
    <form action="" class="application__form">

            <div class="application-form-field">
              <input
                class="application-form-input"
                type="text"
                id="contact-name"
                name="contact-name"
                placeholder="Name"
                required
              />

            </div>


            <div class="application-form-field">
              <input
                class="application-form-input"
                type="email"
                id="contact-email"
                name="contact-email"
                placeholder="Email"
                required
              />
            </div>


            <div class="application-form-field">
              <input
                class="application-form-input"
                type="tel"
                id="contact-phone"
                name="contact-phone"
                placeholder="Phone"
                required
              />
            </div>

            <div class="application-form-field"></div>
              <textarea
                name="contact-comment"
                id="contact-comment"
                cols="30"
                rows="10"
                class="application-form-comment"
                placeholder="Comment"
              ></textarea>
            </div>
            <fieldset>
              <legend class="radio-legend">Choose a teacher</legend>
              <div>
                <input type="radio" id="teacher1" name="teachers" value="Maria" />
                <label for="teacher1">Maria</label>

                <input type="radio" id="teacher2" name="teachers" value="Artem" />
                <label for="teacher2">Artem</label>

                <input type="radio" id="teacher3" name="teachers" value="Ilona" />
                <label for="teacher3">Ilona</label>

                <input type="radio" id="teacher4" name="teachers" value="Volodymyr" />
                <label for="teacher4">Volodymyr</label>
              </div>
            </fieldset>
            <button class="application-form-btn" type="submit">Send</button>
            <span>By clicking on “Send” button, you agree to our <a href="">Privacy Policy</a>,
              and allow Promodo to use this information for marketing purposes.</span>
    </form>
  </div>
</section>