<ul class="socials {=$modifier}">
  <li class="socials-item">
    <a class="socials-link" href="" target="_blank" rel="noopener norefferer">
      <svg class="socials-icon" width="26" height="26">
        <use href=""></use>
      </svg>
    </a>
  </li>
  <li class="socials-item">
    <a class="socials-link" href="" target="_blank" rel="noopener norefferer">
      <svg class="socials-icon" width="26" height="26">
        <use href=""></use>
      </svg>
    </a>
  </li>
  <li class="socials-item">
    <a class="socials-link" href="" target="_blank" rel="noopener norefferer">
      <svg class="socials-icon" width="26" height="26">
        <use href=""></use>
      </svg>
    </a>
  </li>
</ul>
