<section class="section-teachers" id="teachers">
  <div class="container">
    <h2 class="section-title">
      Meet our <span class="section-title-underline">teachers</span>
    </h2>
    <p class="supporting-text">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list">
      <li class="teacher">
        <div class="teacher-photo">
          <picture>
            <source
              srcset="images/teachers-1.webp 1x, images/teachers-1-2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="images/teachers-1.png 1x, images/teachers-1-2x.png 2x"
              type="image/png"
            />
            <img
              src="images/teachers-1.png"
              srcset="images/teachers-1.png 1x, images/teachers-1-2x.png 2x"
              width="150"
              height="150"
              alt="Maria"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="teacher-info">
          <h3>Maria</h3>
          <p>
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>
      <li class="teacher">
        <picture class="teacher-photo">
          <source
            srcset="images/teachers-2.webp 1x, images/teachers-2-2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="images/teachers-2.png 1x, images/teachers-2-2x.png 2x"
            type="image/png"
          />
          <img
            src="images/teachers-2.png"
            srcset="images/teachers-2.png 1x, images/teachers-2-2x.png 2x"
            width="150"
            height="150"
            alt="Artem"
            loading="lazy"
          />
        </picture>
        <div class="teacher-info">
          <h3>Artem</h3>
          <p>
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>
      <li class="teacher">
        <picture class="teacher-photo">
          <source
            srcset="images/teachers-3.webp 1x, images/teachers-3-2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="images/teachers-3.png 1x, images/teachers-3-2x.png 2x"
            type="image/png"
          />
          <img
            src="images/teachers-3.png"
            srcset="images/teachers-3.png 1x, images/teachers-3-2x.png 2x"
            width="150"
            height="150"
            alt="Ilona"
            loading="lazy"
          />
        </picture>
        <div class="teacher-info">
          <h3>Ilona</h3>
          <p>
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>
      <li class="teacher">
        <picture class="teacher-photo">
          <source
            srcset="images/teachers-4.webp 1x, images/teachers-4-2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="images/teachers-4.png 1x, images/teachers-4-2x.png 2x"
            type="image/png"
          />
          <img
            src="images/teachers-4.png"
            srcset="images/teachers-4.png 1x, images/teachers-4-2x.png 2x"
            width="150"
            height="150"
            alt="Volodymyr"
            loading="lazy"
          />
        </picture>
        <div class="teacher-info">
          <h3>Volodymyr</h3>
          <p>
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
