/* #region Animations */
@keyframes shake {
  0%,
  10% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  1% {
    transform: rotate(2deg);
  }
  2%,
  4%,
  6% {
    transform: rotate(-4deg);
  }
  3%,
  5%,
  7% {
    transform: rotate(4deg);
  }
  8% {
    transform: rotate(-2deg);
  }
  9% {
    transform: rotate(2deg);
  }
}
@keyframes rotate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: rotate(calc(9deg * var(--clockwise)));
  }
}
@keyframes splash {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  50% {
    opacity: 1;
    transform: scale(1.8);
  }
  100% {
    opacity: 0;
  }
}
@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* #endregion Animations */
.deal-section {
  padding: 40px 0;

  @media screen and (min-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 75px 0;
  }
}

.deal-section-content {
  position: relative;
  padding: 40px 20px;
  border-radius: 16px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--green-linear);
  }

  @media only screen and (min-width: 768px) {
    padding: 64px 32px;
    border-radius: 30px;
  }
  @media only screen and (min-width: 1280px) {
    padding: 64px;
    margin: 0 -64px;
    padding-bottom: 142px;
  }
}

.deal-section-title {
  max-width: 776px;
  margin-bottom: 65px;
  font-size: 38px;
  line-height: 1.05;
  color: var(--white);

  @media only screen and (min-width: 768px) {
    margin-bottom: 83px;
    font-size: 60px;
    line-height: 1.16;
  }
  @media only screen and (min-width: 1280px) {
    margin-bottom: 133px;
  }
}

.deal-section-title-highlighted {
  color: var(--light-green-underline);
}

.deal-offer-container {
  position: relative;
  padding: inherit;
  border-radius: inherit;
  background: var(--white);

  @media only screen and (min-width: 768px) {
    background-repeat: no-repeat;
    background-position: right -50px bottom 63px;
    background-size: 214px;
    background-image: url(../images/deal-img.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/deal-img@2x.png);
    }

    @media only screen and (min-width: 1280px) {
      background-position: right bottom 79px;
    }
  }

  @media only screen and (min-width: 1280px) {
    padding-bottom: 64px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    animation: ease-in-out both;
  }
  &::before {
    --clockwise: 1;
    background: var(--light-green);
    z-index: -1;
  }
  &::after {
    --clockwise: -1;
    background: rgba(255, 255, 255, 0.5);
    z-index: -2;
  }
}

.deal-offer-subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  @media only screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 40px;
  }
  @media only screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.deal-offer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 450px;
  margin-bottom: 20px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media only screen and (min-width: 1280px) {
    max-width: 654px;
    margin-bottom: 40px;
  }
}

.deal-offer-item {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  font-weight: var(--font-weight-primary-bold);
  line-height: 1.42;
  letter-spacing: -0.02em;
  color: var(--black);

  @media only screen and (min-width: 768px) {
    gap: 16px;

    font-size: 20px;
    line-height: 1.2;
  }
}

.deal-offer-icon {
  flex-shrink: 0;
  overflow: visible;

  .check,
  .splash,
  .circle {
    transform-origin: center;
    animation: 500ms both;
    animation-delay: calc(1800ms + 600ms * var(--shift));
  }
}

.deal-section-button {
  font-style: normal;
  display: block;
  max-width: 306px;
  width: 100%;
  padding: 14px;

  font-size: 14px;
  font-weight: var(--font-weight-primary-bold);
  line-height: 1.71;
  color: var(--white);
  text-align: center;

  border-radius: 12px;
  background: var(--green);
  transition: 0.3s;
  transition-property: background-color;
  animation: cubic-bezier(0.455, 0.03, 0.515, 0.955) both;

  &:hover,
  &:focus {
    background-color: var(--dark-green);
    animation-play-state: paused;
  }

  @media only screen and (min-width: 768px) {
    padding: 16px 64px;
    font-size: 18px;
  }
}

/* Animation trigger class */
.deal-offer-container[data-animation='can-load'] {
  &::before,
  &::after {
    animation-name: rotate;
    animation-duration: 600ms;
  }
  &::before {
    animation-delay: 600ms;
  }
  &::after {
    animation-delay: 1200ms;
  }
  .circle {
    animation-name: fade-in;
    animation-timing-function: ease;
  }
  .check {
    animation-name: scale-up;
    animation-timing-function: cubic-bezier(0.87, -0.01, 0.22, 1.7);
  }
  .splash {
    animation-name: splash;
    animation-timing-function: ease-in;
    animation-duration: 800ms;
  }
  .deal-section-button {
    animation-name: shake;
    animation-duration: 8s;
    animation-delay: 12s;
    animation-iteration-count: infinite;
  }
}
