/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./lessons.css');
@import url('./deal.css');
@import url('./teachers.css');
@import url('./register-form.css');
@import url('./testimonials.css');
@import url('./footer.css');

:root {
  --black: #121417;
  --green: #4dc274;
  --green-linear: linear-gradient(85deg, #4dc274 2.25%, #bee8cc 131.25%);
  --light-green: #d4fde1;
  --light-green-underline: #bee8cc;
  --gray: #f3f5f6;
  --white: #fff;
  --dark-green: #38ae5f;
  --light-black: rgba(18, 20, 23, 0.5);
  --font-weight-primary-bold: 700;
  --font-weight-primary-medium: 600;
  --font-weight-primary-regular: 400;
  --icon-transition: 300ms ease-in;
  --items: 1;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--black);
  background-color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-primary-regular);
  line-height: 1.5;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header-small {
  color: var(--black);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: var(--font-weight-primary-bold);
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1048px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: var(--font-weight-primary-bold);
  line-height: 1.125;
  letter-spacing: -0.02em;
  width: 100%;
  margin-bottom: 16px;
}

.section-title-underline {
  position: relative;
  display: inline-block;
}

.section-title-underline::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  z-index: -1;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background-color: var(--light-green-underline);
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .section-title-underline::after {
    height: 20px;
  }
}

.supporting-text {
  font-size: 14px;
  line-height: 1.7143;
  text-align: center;
  color: var(--light-black);
  margin: 0 auto 40px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .supporting-text {
    font-size: 18px;
    line-height: 1.6667;
    margin-bottom: 64px;
    max-width: 586px;
  }
}

@media screen and (min-width: 1280px) {
  .supporting-text {
    max-width: 647px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}