/* #region Teachers */
.section-teachers {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section-teachers {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .section-teachers {
    padding-top:75px;
    padding-bottom: 75px;
  }
}

.section-teachers .teachers-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .section-teachers .teachers-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 53px 32px;
  }
}

.section-teachers .teacher {
  --items: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  flex-basis: calc((100% - 32px * (var(--items) - 1)) / var(--items));
}
@media screen and (min-width: 768px) {
  .section-teachers .teacher {
    --items: 2;
  }
}
@media screen and (min-width: 1280px) {
  .section-teachers .teacher {
    --items: 4;
  }
}

.section-teachers .teacher .teacher-photo {
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 16px;
}

.section-teachers .teacher h3 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-primary-bold);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
  margin-bottom: 8px;
}

.section-teachers .teacher p {
  font-weight: var(--font-weight-primary-regular);
  font-size: 14px;
  line-height: 1.71;
  font-family: var(--font-family);
  text-align: center;
  color: var(--light-black);
}
@media screen and (min-width: 768px) {
  .section-teachers .teacher p {
    font-size: 16px;
    line-height: 1.5;
  }
}
/* #endregion Teachers */
